.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 1rem;
  }
  
  .navigation-menu ul {
    display: flex;
    list-style: none;
    list-style-type: none;
    padding: 0;
  }
  
  /* accessibility fix per https://developer.mozilla.org/en-US/docs/Web/CSS/list-style */
  .navigation-menu ul li::before {
    content: "\200B";
  }
  
  .navigation-menu a {
    text-decoration: none;
    color: #f25682;
  }
  
  .navigation-menu a:hover {
    color: #75eab6;
  }
  
  h1 {
    color: #e44977;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0rem;
    margin-top: 1rem;
    text-transform: uppercase;
  }
  
  .face {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .hashtags {
    margin-top: 0.5rem;
  }
  
  .games {
    color: #40b8e1;
    padding: 0.2rem;
  }
  
  .brains {
    padding: 0.2rem;
    color: #abe65b;
  }
  
  .ledzeppelin {
    padding: 0.2rem;
    color: #75eab6;
  }
  
  .blurb {
    text-align: center;
  }
  
  .jobtitle {
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: #f25682;
  }
  
  .description {
    letter-spacing: 0.01rem;
  }
  
  .quote {
    color: #f25682;
    font-style: italic;
    margin-top: 3rem;
    margin-bottom: 1rem;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }