nav {
  margin-bottom: 1rem;
  width: 100%;
}

.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  list-style-type: none;
  padding: 0;
}

/* accessibility fix per https://developer.mozilla.org/en-US/docs/Web/CSS/list-style */
ul li::before {
  content: "\200B";  
}

.navigation-menu a {
  text-decoration: none;
  color: #f25682;
}

.navigation-menu a:hover {
  color: #75eab6;
}

h1 {
  color: #e44977;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.face {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.hashtags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.games {
  color: #40b8e1;
  padding: 0.2rem;
}

.brains {
  padding: 0.2rem;
  color: #abe65b;
}

.ledzeppelin {
  padding: 0.2rem;
  color: #75eab6;
}

.quote {
/*    color: #f25682;*/
  color: #e8dbbb;
  font-style: italic;
  margin-top: 0rem;
  margin-bottom: 1rem;
/*  max-width: 400px;*/
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}